dialog {
    background-color: var(--base);
    border: none;
    border-radius: 15px;
    width: 270px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: unset;
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

dialog:not(#confirm) [data-close] {
    position: absolute;
    top: -30px;
    right: -25px;
    font-size: 35px;
    background: transparent;
}

.dialog-confirm {
    & button {
        float: right;
        background: var(--background);
        padding: 5px 20px;
        border-radius: 8px;
        margin-left: 10px;
    }
}