@import 'variables.css';
@import 'general.css';
@import 'dialogs.css';
@import 'layout.css';

/* Button actions */
.actions {
  display: none;
  margin-left: auto;

  & > button {
    color: gray;
    border: none;
    display: inline-block;

    & > svg {
      width: 15px;
      height: 15px;
    }

    &:hover {
        color: white;
    }
  }
}

/* Headers tables */
.header-table {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  & button {
    color: var(--primary-color);
  }

  & svg {
    width: 25px;
    height: 25px;
  }
}

/* Lists */
.lists {
  display: flex;
  flex-flow: column;
  gap: 15px;
  max-height: 80vh;
  overflow: scroll;
}

.list-item {
  font-size: 18px;
  display: flex;
  border-radius: 15px;
  
  border: none;
  gap: 10px;
  background-color: #3b3b3b;

  & a {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  & p {
    margin: 0;

    /* Text overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
  }

  &:hover, .router-link-active {
      background-color: #202020;
      border-radius: 15px;
  }

  &:hover {
      & .actions {
          display: inline-block;
      }

      & .count {
        display: none;
      }
  }

  & .count {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--background);
    opacity: 0.6;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-left: auto;
  }
}

/* ToDo */
.todos {
  & li:not(:last-of-type) {
      border-bottom: 1px solid gray;
  }
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  padding-left: 5px;
  
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &[data-complete="true"] {
    color: gray;

    & svg, & button {
      color: gray;
    }
  }

  & > button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 19px;
    width: 75%;
  }

  & svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
      background-color: #333333;

      & .actions {
          display: inline-block;
      }
  }
}
